<%- include('partials/navbar'); %>

    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-4 bg-success bg-opacity-25 rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Sparks Banking System</h1>
                    <p class="fs-4 mt-3">Welcome to the Sparks banking system !! </p>
                </div>
            </div>
        </div>
    </header>
    <!-- Page Content-->
    <h1 class="text-center">Our Features</h1>
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-4 col-xxl-4 mb-5">
                    <div class="card bg-primary bg-opacity-25 border-0 h-100">
                        <div class="feature card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold pt-2">View Customers</h2>
                            <p class="mb-0">View all the customers who use our bank.</p>
                            <a href="customers"><button type="button"
                                    class="btn btn-primary mt-4">Customers</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4 mb-5">
                    <div class="card bg-primary bg-opacity-25 border-0 h-100">
                        <div class="feature card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-cloud-download"></i></div>
                            <h2 class="fs-4 fw-bold pt-2">Money Transactions</h2>
                            <p class="mb-0">Safely send and recieve money with ease.</p>
                            <a href="transaction"><button type="button"
                                    class="btn btn-primary mt-4">Transact</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4 mb-5">
                    <div class="card bg-primary bg-opacity-25 border-0 h-100">
                        <div class="feature card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-card-heading"></i></div>
                            <h2 class="fs-4 fw-bold pt-2">Transaction History</h2>
                            <p class="mb-0">View past transactions in transaction's history. </p>
                            <a href="history"><button type="button" class="btn btn-primary mt-4">History</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright ©️ Aman Rana 2022</p>
        </div>
    </footer>


    <%- include('partials/footer'); %>