<%- include('partials/navbar'); %>
    
    <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item carousel-item-next carousel-item-start ">
                <img src="/images/bg-photo1.webp" class="d-block w-100 backImg" alt="">
            </div>
            <div>
                <p class="fs-1 bg-text"> SPARKS BANKING SYSTEM </p>
                <a href="transaction"><button type="button" class="btn btn-primary fs-1 bg-btn1">Transfer Money</button></a>
                <a href="customers"><button type="button" class="btn btn-success fs-1 bg-btn2">View Customers</button></a>
            </div>
        </div>
    </div>


<%- include('partials/footer'); %>