.transaction{
    position: absolute;
    top: 20%;
    left: 6%;
    height: 78%;
}

.alert{
    position: absolute;
    top: 10%;
    left: 25%;
}
.transaction-card h3{
    text-align: left;
}

.transaction-card{
    border: 2px solid gray;
    width: 45%;
    padding: 20px 20px;
    box-shadow: 5px 10px 8px gray;
    margin: auto;
    text-align: left;
}

.transaction-btn{
    width: 20%;
    margin: auto;
    margin-top: 3rem;
    font-size: larger;
}
